.crystal-image {
    height: 160px;
    width: 100px;
}

body {
    background-image: url(../images/Avengers-Infinity-War-International-Poster.jpeg);
    background-repeat: no-repeat;
    background-size: cover;    
}

@media screen and (max-width: 768px){
    .crystal-image {
        height: 128px;
        width: 80px;
    }

    body {
        background-position: -110px 100px;

    }
}

@media screen and (max-width: 640px) {
    body {
        background-position: -950px 200px;
    }
}